/* RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /*   10px /16px = 62.5% 1rem = 10px  */
}

body {
  max-width: 144rem;
  font-size: 1.5rem;
  background-color: hsl(0, 0%, 95%);
}

.container {
  margin: 0 auto;
}

.columns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 53em) {
  .columns {
    flex-direction: column;
  }
}

@media only screen and (max-width: 23.4em) {
  .columns {
    margin-top: 5rem;
  }
}

/* CARD STYLES */

.card {
  height: 42rem;
  width: 30rem;
}

@media only screen and (max-width: 24em) {
  .card {
    height: 38rem;
  }
}

.sedans {
  background-color: hsl(31, 77%, 52%);
  border-radius: 5px 0 0 5px;
}

@media only screen and (max-width: 53em) {
  .sedans {
    border-radius: 5px 5px 0 0;
  }
}

@media only screen and (max-width: 23.4em) {
  .sedans {
    border-radius: 5px 5px 0 0;
  }
}

.card-img {
  margin-top: 3rem;
  margin-left: 4rem;
}

h1 {
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  color: hsl(0, 0%, 95%);
  margin-bottom: 3rem;
  margin-top: 2rem;
  margin-left: 5rem;
  text-align: left;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
  margin-left: 5rem;
  line-height: 1.6;
  width: 70%;
}

@media only screen and (max-width: 23.438em) {
  p {
    width: 73%;
    font-size: 1.4rem;
  }
}

.suvs {
  background-color: hsl(184, 38%, 43%);
}

.luxury {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 5px 5px 0;
}

@media only screen and (max-width: 53.2em) {
  .luxury {
    border-radius: 0 0 5px 5px;
  }
}

@media only screen and (max-width: 23.4em) {
  .luxury {
    border-radius: 0 0 5px 5px;
  }
}

/* BUTTON STYLES */

.btn {
  background-color: hsl(0, 0%, 95%);
  text-align: center;
  margin-left: 5rem;
  margin-top: 7rem;
  padding: 1rem 2.5rem;
  border: 0;
  border-radius: 20rem;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  transition: background-color 0.2s;
  cursor: pointer;
}

@media only screen and (max-width: 56.25em) {
  .btn {
    margin-top: 5rem;
  }
}

@media only screen and (max-width: 23.5em) {
  .btn {
    margin-top: 2.5rem;
  }
}

.btn:hover {
  color: hsl(0, 0%, 95%);
  background-color: transparent;
  outline: 2px solid currentColor;
  cursor: pointer;
}

.btn-1 {
  color: hsl(31, 77%, 52%);
}

.btn-2 {
  color: hsl(184, 100%, 22%);
}

.btn-3 {
  color: hsl(179, 100%, 13%);
}

/* ATTRIBUTION */

@media only screen and (max-width: 53.2em) {
  .attribution {
    margin-bottom: 1rem;
  }
}
